<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets\Picture\symbol.jpg" width="100px" height="100px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/view" routerLinkActive="active-link">Order List</a>
      <a class="nav-item nav-link"routerLink="/requestform" routerLinkActive="active-link">New Order</a>
      <a class="nav-item nav-link" routerLink="/inventory" routerLinkActive="active-link">Inventory</a>
    </div>

    <div ngbDropdown class="dropdown">
        <select class="form-control" [(ngModel)]="Items" name="Items" >
          <option *ngFor="item of Items" value="{{Items}}"></option> 
        </select>
    </div>
  </div>
</nav>